body {
    background-image: url("_artwork/knit_swatch_blue.jpg");
    background-repeat: repeat;	
	}

h2 {
	font-family: 'Amatic SC', sans-serif;
	font-weight: 700;
	font-size: 42px;
	color: #247d80;
	line-height: 60%;
	margin-bottom: -5px;
	display: inline-block;
}

p {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 18pt;
	color: #247d80;
}

#header ul {
	margin-top: 103px;
	margin-left: 40px;
}

#header li {
	list-style-type: none;
	color: #00C3CA;
	display: inline;
	padding: 30px 26px 15px 26px;
	background-color: #247d80; 
	margin-right: 14px;
}

#header a {
	text-decoration: none;
	font-family: 'Amatic SC', sans-serif;
	font-weight: 700;
	font-size: 36px;
	color: #bcfafc;
}

#header a:visited, a:active {
	color: #bcfafc;
}

#header li:hover {
	background-color: #2da0a3;
}

#header {
/*	margin-bottom: 50px;*/
	margin-top: 50px;
	float: left;
	width: 100%;
}

.threecats {
	width: 900px;
	margin: 0 auto;
}

.threecats img {
	width: 100%;
	border: 3px dotted #2da0a3;
}

#logo {
	margin-bottom: 50px;
	margin-top: -20px;
	float: left;
}

#container {
	margin: 0 auto;
	width: 900px;
}

.tara {
	float: left;
	margin-right: 50px;
	width: 50%;
	margin-bottom: 50px;
}

.aboutuspics img {
	width: 200px;
	height: 30%;
	padding: 3%;
	margin-top: 10px;
	display: inline;
}
#footer {
	float:right;
	background-color: #247d80;
	width: 100%;
	height: 45px;
	text-align: right;
	line-height: .75;
	padding-right: 20px;
}

#footer a {
	text-decoration: none;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 14px;
	color: #bcfafc;
	}

#footer a:visited, a:active {
    color: #bcfafc;
}

#footer a:hover {
    color: #fff;
}

#footer li {
	list-style-type: none;
	color: #bcfafc;
	font-family: 'PT Sans Narrow', sans-serif;
	display: inline-block; 
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: right;
}

.burger {
	display: none;
}

@media all and (max-width: 450px) {
	
	#header li {
			list-style-type: none;
			display: inline;
			padding: 7px 26px 15px 26px;
			margin-right: 14px;
			float: right;
			width: 100%;
			text-align: center;
			background-color: white;
	}

	#header a {
		text-decoration: none;
		font-family: 'Amatic SC', sans-serif;
		font-weight: 700;
		font-size: 36px;
		color: #bcfafc;
	}

	#header li:hover {
		background-color: #2da0a3;
	}

	#header ul {
		width: 100%;
	}

	#header {
/*	margin-bottom: 50px;*/
		margin: 0;
		float: left;
		width: 100%;
		height: 80px;
		/*opacity: .5;*/
		z-index: 1;
		margin-bottom: 100px;
}

	.burger {
		width: 70px;
		margin-top: 5px;
		margin-left: 350px;
		position: fixed;
		display: block;
		opacity: .6;
	}

	/*header ul {
			width: 100%;
		}*/

	#logo {
		width: 50px;
		height: 50px;
		/*margin-bottom: 50px;
		margin-top: -20px;
		float: left;*/
	}

	.menu {
		display:none;
	}

	.aboutuspics img {
		width: 80%;
}
	

.Tara {
	clear: both;
	width: 85%;
	margin: 0;
}

p {
	width: 300px;
	margin: 0;
	text-align: center;
}

.Jen {
	clear: both;
	margin: 0;
	width: 85%;
}

#container {
	width: 450px;
}
/*
#footer {
	display: inherit;
}*/



