body {
    background-image: url("_artwork/knit_swatch_blue.jpg");
    background-repeat: repeat;	
	}

h2 {
	font-family: 'Amatic SC', sans-serif;
	font-weight: 700;
	font-size: 52px;
	color: #247d80;
	line-height: 60%;
	text-align: center;
}

h4 {
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: 400;
	font-size: 24px;
	color: #247d80;
	text-align: center;
}

p {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 16;

}

#header ul {
	margin-top: 103px;
	margin-left: 40px;
}

#header li {
	list-style-type: none;
	color: #00C3CA;
	display: inline;
	padding: 30px 26px 15px 26px;
	background-color: #247d80; 
	margin-right: 14px;
}

#header a {
	text-decoration: none;
	font-family: 'Amatic SC', sans-serif;
	font-weight: 700;
	font-size: 36px;
	color: #bcfafc;
}

#header a:visited, a:active {
	color: #bcfafc;
}

#header li:hover {
	background-color: #2da0a3;
}

#header {
/*	margin-bottom: 50px;*/
	margin-top: 50px;
	float: left;
	width: 100%;
}

#logo {
	margin-bottom: 50px;
	margin-top: -20px;
	float: left;
}

#container {
	margin: 0 auto;
	width: 900px;
}

#donatebuttons img {
	width: 100%;

}

#donatebuttons {
	list-style-type: none; 
	display: inline;
}

#donatebuttons a {
	text-decoration: none;
}

.cash {
	float: left;
	width: 290px;
	margin-right: 15px;
	background-image: url(_artwork/cash_blue.jpg);
	background-size: 290px;
}

.cash:hover {
	background-image: url(_artwork/cash.jpg);
	background-size: 290px;
}

.yarn {
	float: left;
	width: 290px;
	margin-right: 15px;
}

.skillz {
	float: left;
	width: 290px;
}

#footer {
	float:right;
	background-color: #247d80;
	width: 100%;
	height: 45px;
	text-align: right;
	line-height: .75;
	padding-right: 20px;
}

#footer a {
	text-decoration: none;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 14px;
	color: #bcfafc;
	}

#footer a:visited, a:active {
    color: #bcfafc;
}

#footer a:hover {
    color: #fff;
}

#footer li {
	list-style-type: none;
	color: #bcfafc;
	font-family: 'PT Sans Narrow', sans-serif;
	display: inline-block; 
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: right;
}